line {
	stroke-width: 1px;

	&:hover {
		stroke-width: 2px;
	}
}

rect {stroke-width: 2px;}

h1, h2, h3, h4, h5 {
	font-family: "Droid Sans"
}

h1 {
	font-size: 26px;
	margin-bottom: 20px;
}

h2 {
	font-size: 15px;
	margin-top: 35px;
	margin-bottom: 0px;
}

h3 {
	margin-top: 25px;
	font-size: 13px;
}

h5 {
	background-color: #555;
	font-size: 12px;
	padding: 5px;
	color: white;
	margin-top: -40px;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 30px;
}

body {
	background: #102025;
	margin: 0px;
}

body > div {
	box-sizing: border-box;
	background-color: white;
	width: 75%;
	margin: 0 auto;
	padding: 50px 15% 70px;;
	font-family: "Droid Serif";
	font-size: 13px;
	line-height: 1.8;
	color: #333;
}

.graph {
	padding: 40px 0;
	margin: 40px 0;
	text-align: center;
	margin-left: -35%;
	width: 170%;
	background-color: #eee;

	.viz, .code {
		display: inline-block;
		vertical-align: top;
	}

	.code {
		width: 50%;
		margin-top: -20px;
	}

	.fn {
		text-align: left;
		font-family: "Fantasque Sans Mono";
		font-size: 12px;
		display: inline-block;
		width: 40%;
		vertical-align: top;
		line-height: 1.2;

		code { background-color: transparent; }

	}

}

.playback {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

svg {
	background-color: white;
	padding: 15px;
	border: 1px solid #ccc;
}

button {
	background-color: #444;
	border: 0;
	border-radius: 3px;
	padding: 6px;
	width: 22;
	font-size: 9px;
	color: #eee;
	outline: none;
}

.line {
	display: inline-block;
	padding: 5 10px;
	margin: 2 0;
	border-radius: 4px;
}	

.line.on {
	background-color: #333;
	color: white !important;
	span {color: white !important;}
}
